
:root{
    --primary-color:grey;
    --primary-fontColor:white;
    --font-sizeMobile:13px;
    --font-SizeFold: 11px;
    --font-sizeDesktop:18px;
    --first-place-color: gold;
    --second-place-color: silver;
    --third-place-color: #bb7b3d;
    --header-color: rgb(21, 255, 0);
}

html {
    overflow-x: hidden;
    background-color: #081012;
    background-image: url(bg.jpg);
    background-size: cover;
}

body{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    color: var(--primary-fontColor);
    font-family: 'Black Ops One';
    font-size: var(--font-sizeMobile);
    text-shadow: 2px 2px 2px black;
    min-height: calc(100vh - 30px);
    background: rgba( 0, 0, 0, 0.01 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 10.0px );
    border-radius: 10px;
}

td{
    color: none;
}

a:link{
    text-emphasis: none;
    text-decoration: none;
    color: var(--primary-fontColor);
}
a:visited{
    color: var(--primary-fontColor);
}a:hover{
    color: rgb(219, 213, 213);;
}
main{
    width: 100%;
    margin: 0px auto;
}
header{
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    height: 50px;
    text-transform: uppercase;
    color: var(--primary-fontColor);
}

header h1 {
    text-align: center;
}

header p {
    color: var(--header-color);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

table{
    width: 90%;
    justify-content: center;
    margin: 0 auto;
}
table th{
    width: 30%;
    text-align: center;
    height: 40px;
    text-transform:uppercase;
    font-weight: bold;
    color: var(--primary-fontColor);
}

table tbody td{
    text-align: center;
    height: 50px;
    cursor: pointer;
}

table tbody tr:hover{
    color: rgb(218, 208, 208);
}

.celula17 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking2 1s;
}

.celula16 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking1 1s;
}

.celula15 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking2 1s;
}

.celula14 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking1 1s;
}

.celula13 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking2 1.5s;
}

.celula12 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking1 2s;
}

.celula11 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking2 2.3s;
}

.celula10 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking1 2.5s;
}

.celula9 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking2 2.8s;
}

.celula8 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking1 3s;
}

.celula7 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking2 3.2s;
}

.celula6 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking1 3.4s;
}

.celula5 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking2 3.6s;
}

.celula4 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking1 3.8s;
}

.celula3 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking2 4s;
    color: var(--third-place-color);
}

.celula2 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking1 4.5s;
    color: var(--second-place-color);
}

.celula1 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking3 4.5s;
    color: var(--first-place-color);
}

.celula1 a:link, .celula1 a:visited{
    color: var(--first-place-color);
}

.celula1:hover, .celula1 a:hover{
    color: goldenrod;
}

.celula2 a:link, .celula2 a:visited{
    color: var(--second-place-color);
}

.celula2:hover, .celula2 a:hover{
    color: white;
}

.celula3 a:link, .celula3 a:visited{
    color: var(--third-place-color);
}

.celula3:hover, .celula3 a:hover{
    color: #f8a552;
}

section{
    margin-top: 50px;
    text-align: center;
    width: 100%;
    justify-content: center;
}
@media screen and (max-width:300px){
    body{
        font-size: var(--font-SizeFold);
    }
    main{
        padding-top: 30px;
    }
    table tbody tr:hover{
        font-size: 16px;
    }
}
@media screen and (min-width:301px) and (max-width:700px){
    body{
        font-size: var(--font-sizeMobile);
    }
    header{
        padding-top: 20px;
    }
    main{
        padding-top: 20px;
    }
    table tbody tr:hover{
        font-size: 19px;
    }
    section{
        margin-top: 50px;
        height: 200px;
        width: 100%;
    }

    #retrieving {
        font-size: var(--font-sizeMobile);
    }
}

@media screen and (min-width:701px){
    body{
        font-size: var(--font-sizeDesktop);
        width: 60%;
    }
    header{
        padding-top: 20px;
    }
    main{
        padding-top: 80px;
    }
    table tbody tr:hover{
        font-size: 23px;
    }
    section {
        margin-top: 30px;
    }

    #retrieving {
        font-size: 22px;
    }
}

#retrieving {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
}


@keyframes ranking1 {
    from {left: -1000px}
    to {left: 0px}
}

@keyframes ranking2 {
    from {left: 1000px}
    to {left: 0px}
}

@keyframes ranking3 {
    from {top: -1000px}
    to {top: 0px}
}
