
:root{
    --primary-color:grey;
    --primary-fontColor:white;
    --font-sizeMobile:13px;
    --font-SizeFold: 11px;
    --font-sizeDesktop:19px
}

html {
    overflow-x: hidden;
}

body{
    background-color: var(--primary-color);
    color: var(--primary-fontColor);
    background-color: rgb(41, 39, 39);
    background-repeat: repeat;
    
    font-family: 'Black Ops One';
    
    font-size: var(--font-sizeMobile);
    text-shadow: 2px 2px 2px black;
}td{
    color: none;

}
a:link{
    text-emphasis: none;
    text-decoration: none;
    color: var(--primary-fontColor);
}
a:visited{
    color: var(--primary-fontColor);
}a:hover{
    color: rgb(219, 213, 213);;
}
main{
    width: 90%;
    margin: 0px auto;
    
}
header{
    display: flex;
    justify-content: center;
    font-weight: bold;
    height: 50px;
    text-transform: uppercase;
}

table{
    width: 90%;
    justify-content: center;
    
    margin: 0 auto;
}
table th{
    width: 30%;
    text-align: center;
    height: 40px;
    text-transform:uppercase;
    font-weight: bold;
}

table tbody td{
    text-align: center;
    height: 50px;
    cursor: pointer;
}table tbody tr:hover{
    color: rgb(218, 208, 208);
}

.celula14 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking1 1s;
}

.celula13 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking2 1.5s;
}

.celula12 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking1 2s;
}

.celula11 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking2 2.5s;
}

.celula10 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking1 3s;
}

.celula9 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking2 3.5s;
}

.celula8 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking1 4s;
}

.celula7 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking2 4.5s;
}

.celula6 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking1 5s;
}

.celula5 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking2 5.5s;
}

.celula4 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking1 6s;
}

.celula3 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking2 6.5s;
}

.celula2 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking1 7s;
}

.celula1 {
    position: relative;
    animation-timing-function: ease-out;
    animation: ranking3 7.5s;
    color: gold;
}

.celula1 a:link{
    color: gold;
}

.celula1 a:visited{
    color: gold;
}

.celula1 a:hover{
    color: goldenrod;
}

.celula1:hover{
    color: goldenrod;
}

section{
    margin-top: 50px;
    text-align: center;
    width: 100%;
    justify-content: center;
}
@media screen and (max-width:300px){
    body{
        font-size: var(--font-SizeFold);
    }
    
    header{
        margin-top: 50px;
    }
    main{
        margin-top: 50px;
    }
    table tbody tr:hover{
        font-size: 16px;
    }
}
@media screen and (min-width:301px) and (max-width:700px){
    body{
        font-size: var(--font-sizeMobile);
    }
    header{
        margin-top: 30px;
    }
    main{
        margin-top: 20px;
    }
    table tbody tr:hover{
        font-size: 19px;
    }
    section{
        margin-top: 50px;
        height: 200px;
        width: 100%;
    }
}

@media screen and (min-width:701px){
    body{
        font-size: var(--font-sizeDesktop);
        
    }
    header{
        margin-top: 30px;
    }
    main{
        margin-top: 30px;
    }
    table tbody tr:hover{
        font-size: 23px;
    }
    section {
        margin-top: 30px
    }
}

#retrieving {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
   
}


@keyframes ranking1 {
    from {left: -1000px}
    to {left: 0px}
}

@keyframes ranking2 {
    from {left: 1000px}
    to {left: 0px}
}

@keyframes ranking3 {
    from {top: -1000px}
    to {top: 0px}
}